###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################
jupyterlab
ipywidgets

jupyter-server-proxy
jupyter-vscode-proxy

###############################################################
#          /jupyter/jupyterlab extensions/kernels              #
###############################################################
pymongo==3.10.0
imongo-kernel
pprintpp
cqljupyter
cassandra-driver
Faker
redis